<div class="container">
  <div class="row row-black-photo1 text-white">
    <div *ngFor="let item of [].constructor(150)" class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="col-min-8 col-6 mx-auto">
      <div class="my-auto  h-100 bg-text text-white text-center">
        <div class="mx-auto mt-7 text-container px-4">
          <div class="animation-text-container bottom-line">
            <div class="animation-text-top">
              <span>{{"home.hellow"|translate}}</span>
              <h3>{{"home.name"|translate}}</h3>
            </div>
          </div>
          <div class="mx animation-text-container">
            <div class="animation-text-bottom">
              <span>{{"home.subtitle"|translate}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>