@mixin template-row($name)
    .row-black-#{$name}
        height: 100vh
        background-image: url('../../assets/#{$name}.png')
        background-repeat: no-repeat
        background-attachment: fixed
        background-position:80%
        background-size: auto 80vh
        overflow: hidden
        animation-name: example
        animation-duration: 2s

        @keyframes example 
            from 
                background-size: auto 60vh
                opacity: 0.3
            to 
                background-size: auto 80vh
                opacity: 1



.row-white
    height: 100vh
    background-color: white
    position: relative





