<app-nav-bar></app-nav-bar>
<div class="container">
  <div class="row one-row text-white">
    <div class="col-min-6 col-4">
      pierwsza
    </div>
    <div class="col-min-6 col-4">
      <button class="btn-gray">sdsds</button>

    </div>
    <div class="col-min-6 col-4">
      <button class="btn-white">sdsd</button>

    </div>
    
  </div>
  <div class="row two-row">
    <div class="col-6">
     DDFDS
    </div>
    <div class="col-6">
      <button class="btn-black">sdsdada</button>
    </div>
  </div>
</div>