<div class="container">
  <div class="row row-black-photo5 text-white " id="page1">
    <div *ngFor="let item of [].constructor(50)" class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="col-min-8 col-6 mx-auto ">
      <div class="my-auto  h-100 bg-text text-white text-center">
        <div class="mx-auto mt-7 text-container px-4">
          <div class="animation-text-container bottom-line">
            <div class="animation-text-top1">
              <h3>Moje projekty</h3>
            </div>
          </div>
        </div>
      </div>
    </div>

    <a SimpleSmoothScroll [duration]="500" [scrollTo]="'page2'" class="b-scroll-down"><span></span></a>
  </div>
  <div class="row row-white px-6" id="page2">
   <app-card-project-container></app-card-project-container>
  </div>
</div>