<div id="nav-bar" [ngClass]="classBar">
  <div>
    <img class="logo mx-5" src="../../assets/logo.svg">
  </div>
  <a [routerLink]="['/home']" routerLinkActive="active">
    <img class="icon-nav" src="../../assets/home.svg">
    <span>Strona główna</span>
  </a>
  <a [routerLink]="['/about']" routerLinkActive="active">
    <img class="icon-nav" src="../../assets/about.svg">
    <span>O mnie</span>
  </a>
  <a [routerLink]="['/projects']" routerLinkActive="active">
    <img class="icon-nav" src="../../assets/project.svg">
    <span>Projekty</span>
  </a>
  <a [routerLink]="['/skils']" routerLinkActive="active">
    <img class="icon-nav" src="../../assets/skils.svg">
    <span>Umiejętności</span>
  </a>
  <a [routerLink]="['/contact']" routerLinkActive="active">
    <img class="icon-nav" src="../../assets/contact.svg">
    <span>Kontakt</span>
  </a>

  <a (click)="toggleMenu()" class="icon">
    <i class="fa fa-bars"></i>
  </a>
</div>