<div class="container">
  <div class="row row-black-photo4 text-white">
    <div *ngFor="let item of [].constructor(40)" class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="col-min-8 col-6 mx-auto">
      <div class="my-auto  h-100 bg-text text-white text-center">
        <div class="mx-auto mt-7 text-container px-4">
          <div class="animation-text-container bottom-line">
            <div class="animation-text-top1">
              <h3>O mnie</h3>
            </div>
          </div>
          <div class="mx animation-text-container">
            <div class="animation-text-bottom1">
              <span>Kim jestem?<br>Czym się zajmuje i interesuje?</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a SimpleSmoothScroll [duration]="500" [scrollTo]="'page1'" class="b-scroll-down"><span></span></a>
  </div>
  <div class="row row-white" id="page1">
    <div class=" col-6 col-max-5  text-center ">
      <img class="about-photo mx-auto" src="../../assets/photo/other/photo1.png">
    </div>
    <div class="col-min-6 col-6 col-max-4 mx-auto py-5 ">
      <div class="vertical-center">
        <p class="content-about mx-3">{{"about.content"|translate}}</p>
        <div SimpleSmoothScroll [duration]="500" [scrollTo]="'page2'" class="mx-3 text-com">
          <img src="../../assets/graphic/arrow.svg">
          <div>
            <p class="py-3">{{"about.link-ct"|translate}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row row-black-photo3 text-white" id="page2">
    <div *ngFor="let item of [].constructor(35)" class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="col-min-8 col-6 mx-auto">
      <div class="my-auto  h-100 bg-text text-white text-center">
        <div class="mx-auto mt-6 text-container px-4">
          <div class="animation-text-container bottom-line">
            <div class="animation-text-top2">
              <h3 class="text-title2">W wolnym czasie</h3>
            </div>
          </div>
          <div class="mx animation-text-container">
            <div class="animation-text-bottom2">
              <span>Hobby i zainteresowania</span>
            </div>
          </div>
        </div>
      </div>
      <a SimpleSmoothScroll [duration]="500" [scrollTo]="'page3'" class="b-scroll-down"><span></span></a>
    </div>
  </div>
  <div class="row row-white " id="page3">
    <div class="col-min-6 col-6 col-max-4 mx-auto py-5 ">
      <div class="vertical-center">
        <p class="content-about mx-3">
          {{"about.hobby1"|translate}}
          <a href="https://www.facebook.com/14pss/?ref=page_internal">
            GRH 14 Pułk Strzelców Syberyjskich.
          </a>
          {{"about.hobby2"|translate}}
        </p>
      </div>
    </div>
    <div class=" col-6 col-max-5  text-center ">
      <img class="about-photo mx-auto" src="../../assets/photo/other/photo2.png">
    </div>
  </div>
</div>