@font-face
  font-family: "Lato"
  src: local("Lato")
  src: url("/assets/Lato-Regular.ttf")
  src: format("truetype")
@font-face
  font-family: "Lato-L"
  src: local("Lato-L")
  src: url("/assets/Lato-Light.ttf")
  src: format("truetype")

@import "styles/respons.sass"
@import "styles/colors.sass"
@import "styles/buttons.sass"
@import "styles/format.sass"
@import "styles/bg-animation.sass"
@import "styles/other.sass"



body
  background-color: black
  font-family: "Lato", Arial, Helvetica, sans-serif !important
  margin: 0







  
