<div class="container">
  <div class="row row-black-photo1 text-white">
    <div *ngFor="let item of [].constructor(150)" class="circle-container">
      <div class="circle"></div>
    </div>


    <div class="col-min-8 col-6 mx-auto">
      <div class="mt-8 mb-auto h-100 bg-text text-white text-center">
        <div class="mx-auto my-auto text-container">
          Cześć, jestem
          <h3>JAROSŁAW PIOTROWSKI,</h3>
          Front end Developer
        </div>
      </div>
    </div>
  </div>
</div>